<?xml version="1.0"?>
<model>
  <name>havyard_ship</name>
  <version>1.0</version>
  <sdf version="1.7">model_havyard.sdf</sdf>

  <author>
    <name>Palfinger Bachelor Group</name>
    <email>n/a</email>
  </author>

  <description>
    Havyard vessel model used by the Palfinger crane simulator.
  </description>
</model>
