<?xml version="1.0"?>
<model>
  <name>container_blue</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Palfinger Bachelor Group</name>
    <email>n/a</email>
  </author>

  <description>
    Blue container cargo model for crane pickup tests.
  </description>
</model>
